.container
  max-width: 1190px
  padding: 0 10px
  margin: 0 auto

ul
  list-style: none

.header
  background-color: #ffffffda
  .header_inner
    padding-bottom: 29px
    display: flex
    justify-content: space-between
    align-items: flex-end
  .menu_list
    display: flex
    &-link
      padding: 0 10px 10px 10px
      margin-right: 50px
      font-size: 12px
      line-height: 14px
      color: #373A39
      font-weight: 700
      letter-spacing: 0.6px
      transition: all .6s
      &:hover
        border-bottom: 2px solid #FCBB08

.omarketing
  background: url(../img/omarketing.png)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  min-height: 90vh
  width: 100%
  &_inner
    display: flex
    align-items: center
    flex-direction: column
    min-height: 90vh
  &_title
    margin-bottom: 18px
    margin-top: auto
    font-weight: 500
    font-size: 72px
    color: #FFFFFF
  &_subtitle
    margin-bottom: 180px
    font-weight: 700
    font-size: 16px
    color: #FCBB08
    letter-spacing: 2.74286px
  &_icon
    margin-bottom: 62px
