.container {
  width: 1110px;
  margin: 0 auto;
}

.button {
  width: 310px;
  height: 65px;
  font-size: 20px;
  background-color: rgb(219, 247, 226);
  transition: all 0.2s;
}
.button:hover {
  background-color: rgb(89, 141, 102);
  color: #ffffff;
}
.button:focus {
  color: #000;
  background-color: rgb(219, 247, 226);
  border: 1px solid rgb(55, 107, 68);
}
.button:active {
  background-color: rgb(55, 107, 68);
  color: #ffffff;
}
.button-square {
  color: rgb(89, 141, 102);
  border: 1px solid rgb(89, 141, 102);
  background-color: rgba(28, 28, 28, 0);
}
.button-square:focus {
  color: rgb(55, 107, 68);
  background-color: rgb(219, 247, 226);
  border: 1px solid rgb(89, 141, 102);
}
.button-square:active {
  background-color: rgb(55, 107, 68);
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo-icon {
  width: 35px;
  height: 35px;
}
.logo-link {
  color: rgb(89, 141, 102);
  font-size: 20px;
  font-weight: 700;
}

.header {
  background-color: rgb(219, 247, 226);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.header__menu {
  padding: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.header__menu-item {
  font-size: 20px;
}
.header__menu-img {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__inner {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.promo__inner-title {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
}
.promo__inner-span {
  color: rgb(89, 141, 102);
}
.promo__inner-description {
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 60px;
}
.promo__inner-button {
  width: 220px;
  height: 65px;
}

.promo__img {
  max-width: 620px;
  min-height: 540px;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 30px;
}
.products__title {
  font-size: 40px;
  font-weight: 500;
}
.products__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.products__button {
  width: 126px;
  height: 43px;
  font-size: 17px;
  border-radius: 25px;
  background-color: rgb(219, 247, 226);
  transition: all 0.2s;
}

.products {
  flex-wrap: wrap;
  gap: 30px;
}

.product__card {
  display: flex;
  align-items: start;
  flex-direction: column;
  max-width: 350px;
  max-height: 730px;
  display: flex;
  padding: 20px 20px 30px;
  background-color: rgb(219, 247, 226);
}
.product__card-author {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 100;
}
.product__card-name {
  padding-top: 10px;
  font-size: 30px;
}
.product__card-details {
  padding-top: 8px;
}
.product__card-price {
  padding-top: 30px;
  font-size: 24px;
  color: rgb(89, 141, 102);
}
.product__card-button {
  margin-top: 20px;
}

.new__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 70px;
  background-image: url(../img/new/pic_background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 574px;
}

.new {
  margin-top: 70px;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.new__wrapper {
  max-width: 540px;
}
.new__title {
  margin-top: 70px;
  font-size: 40px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 16px;
}
.new__title::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background-image: url(../icons/Star\ 2.png);
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
.new__text {
  margin-top: 20px;
  font-size: 19px;
  font-weight: 200;
  color: #ffffff;
}
.new__button {
  width: 257px;
  height: 65px;
  margin-top: 40px;
  background-color: rgb(238, 219, 109);
}
.new__button:hover {
  background-color: rgb(250, 235, 151);
  color: #000;
}
.new__button:focus {
  background-color: rgb(250, 235, 151);
  border: 1px solid rgb(217, 185, 73);
  color: #000;
}
.new__button:active {
  color: #000;
  background-color: rgb(217, 185, 73);
}

.team {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 70px;
  gap: 30px;
}
.team__title {
  margin-top: 124px;
  font-size: 40px;
  font-weight: 500;
}
.team__text {
  margin-top: 20px;
  font-size: 18px;
}
.team__photo {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.footer {
  margin-top: 70px;
  background-color: rgb(219, 247, 226);
}
.footer__wrapper {
  padding: 23px 0;
  display: flex;
  justify-content: space-between;
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer__contact-tel {
  font-size: 20px;
  margin-top: 41px;
  margin-bottom: 8px;
}
.footer__columns {
  display: flex;
  gap: 58px;
  flex-grow: 1;
  justify-content: start;
  margin-left: 115px;
}
.footer__column {
  min-width: 84px;
}
.footer__title {
  font-size: 20px;
  font-weight: 500;
}
.footer__list {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer__link {
  font-size: 18px;
  color: rgb(134, 146, 139);
}
.footer__social {
  min-width: 132px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.footer__copyright {
  font-size: 12px;
  margin-bottom: 6px;
  color: rgb(134, 146, 139);
}

* {
  font-family: "Raleway", sans-serif;
  color: #000000;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
}/*# sourceMappingURL=style.css.map */