.container {
  width: 1110px;
  margin: 0 auto;
}

.button {
  width: 310px;
  height: 65px;
  font-size: 20px;
  background-color: rgb(219, 247, 226);
  transition: all 0.2s;
  &:hover {
    background-color: rgba(89, 141, 102, 1);
    color: #ffffff;
  }
  &:focus {
    color: #000;
    background-color: rgb(219, 247, 226);
    border: 1px solid rgba(55, 107, 68, 1);
  }
  &:active {
    background-color: rgba(55, 107, 68, 1);
    color: #ffffff;
  }
  &-square {
    color: rgba(89, 141, 102, 1);
    border: 1px solid rgba(89, 141, 102, 1);
    background-color: rgba(28, 28, 28, 0);
    &:focus {
      color: rgba(55, 107, 68, 1);
      background-color: rgb(219, 247, 226);
      border: 1px solid rgba(89, 141, 102, 1);
    }
    &:active {
      background-color: rgba(55, 107, 68, 1);
      color: #ffffff;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  &-icon {
    width: 35px;
    height: 35px;
  }
  &-link {
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 700;
  }
}

// header --------------

.header {
  background-color: rgb(219, 247, 226);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.header__menu {
  padding: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  &-item {
    font-size: 20px;
  }
  &-img {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
  }
}

// promo --------------

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__inner {
  display: flex;
  align-items: start;
  flex-direction: column;
  &-title {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &-span {
    color: rgba(89, 141, 102, 1);
  }
  &-description {
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 60px;
  }
  &-button {
    width: 220px;
    height: 65px;
  }
}

.promo__img {
  max-width: 620px;
  min-height: 540px;
}

// products --------------

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 30px;
  &__title {
    font-size: 40px;
    font-weight: 500;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  &__button {
    width: 126px;
    height: 43px;
    font-size: 17px;
    border-radius: 25px;
    background-color: rgb(219, 247, 226);
    transition: all 0.2s;
  }
}

// products-card ---------

.products {
  flex-wrap: wrap;
  gap: 30px;
}

.product__card {
  display: flex;
  align-items: start;
  flex-direction: column;
  max-width: 350px;
  max-height: 730px;
  display: flex;
  padding: 20px 20px 30px;
  background-color: rgb(219, 247, 226);
  &-author {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 100;
  }
  &-name {
    padding-top: 10px;
    font-size: 30px;
  }
  &-details {
    padding-top: 8px;
  }
  &-price {
    padding-top: 30px;
    font-size: 24px;
    color: rgba(89, 141, 102, 1);
  }
  &-button {
    margin-top: 20px;
  }
}

// new -------------------

.new__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 70px;
  background-image: url(../img/new/pic_background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 574px;
}

.new {
  margin-top: 70px;
  display: flex;
  align-items: start;
  flex-direction: column;
  &__wrapper {
    max-width: 540px;
  }
  &__title {
    margin-top: 70px;
    font-size: 40px;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 16px;
    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 80px;
      background-image: url(../icons/Star\ 2.png);
      background-size: contain;
      background-repeat: no-repeat;
      flex-shrink: 0;
    }
  }
  &__text {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 200;
    color: #ffffff;
  }
  &__button {
    width: 257px;
    height: 65px;
    margin-top: 40px;
    background-color: rgba(238, 219, 109, 1);
    &:hover {
      background-color: rgba(250, 235, 151, 1);
      color: #000;
    }
    &:focus {
      background-color: rgba(250, 235, 151, 1);
      border: 1px solid rgba(217, 185, 73, 1);
      color: #000;
    }
    &:active {
      color: #000;
      background-color: rgba(217, 185, 73, 1);
    }
  }
}

// team

.team {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 70px;
  gap: 30px;
  &__title {
    margin-top: 124px;
    font-size: 40px;
    font-weight: 500;
  }
  &__text {
    margin-top: 20px;
    font-size: 18px;
  }
  &__photo {
    margin-top: 20px;
    display: flex;
    gap: 30px;
  }
}

// footer

.footer {
  margin-top: 70px;
  background-color: rgb(219, 247, 226);
  &__wrapper {
    padding: 23px 0;
    display: flex;
    justify-content: space-between;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    &-tel {
      font-size: 20px;
      margin-top: 41px;
      margin-bottom: 8px;
    }
  }
  &__columns {
    display: flex;
    gap: 58px;
    flex-grow: 1;
    justify-content: start;
    margin-left: 115px;
  }
  &__column {
    min-width: 84px;
  }
  &__title {
    font-size: 20px;
    font-weight: 500;
  }
  &__list {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  &__link {
    font-size: 18px;
    color: rgba(134, 146, 139, 1);
  }
  &__social {
    min-width: 132px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__copyright {
    font-size: 12px;
    margin-bottom: 6px;
    color: rgba(134, 146, 139, 1);
  }
}
