@media (max-width : 1200px)
  .menu
    &_item
      padding-right: 20px
    &_link
      font-size: 13px
  .promo
    &_header
      font-size: 50px
  .mobile
    &_item
      width: 300px

@media (max-width : 991px)
  .menu
    &_item
      padding-right: 8px
    &_link
      font-size: 10px
  .promo
    &_header
      font-size: 40px
    &_subheader
      font-size: 30px

  .subheader
    &_logo
    img
      width: 100%
    &_oficial
      font-size: 12px
    &_phone
      font-size: 18px
    &_btn
      width: 100%
      height: 40px
      margin-top: 25px

  .benefits
    &_container
      flex-direction: column
      align-items: center

  .benefits_container .img_wrapper
    margin-right: 0

  .benefits_container .benefits_title
    margin-top: 20px
    text-align: center

  .benefits_container .benefits_text
    text-align: center

  .mobile_item
    width: 224px
    &_subtitle
      font-size: 18px

@media (max-width : 767px)
  .menu
    position: fixed
    flex-direction: column
    justify-content: center
    align-items: center
    top: 0
    left: -100%
    width: 50%
    height: 100%
    padding: 20px 15px
    background-color: rgba(0,0,0,.8)
    transition: 0.6s all
    &_active
      left: 0
    &_item
      padding-right: 0
      margin: 10px 0
    &_link
      font-size: 20px
  .hamburger
    display: block
    position: absolute
    right: 10px
    top: 50%
    transform: translateY(-50%)
    width: 26px
    height: 12px
    span
      display: block
      height: 2px
      width: 100%
      background-color: #fff
      margin-bottom: 2px
      transition: 0.5s all
    &_active
      span
        margin-bottom: -2px
        &:nth-child(1)
          transform: translateX(3px) rotate(-45deg)
        &:nth-child(2)
          display: none
        &:nth-child(3)
          transform: translateX(3px) rotate(45deg)
  .xs-hidden
    display: none
  .xs-visible
    display: block
  .subheader
    &_phone
      display: block
      margin: 0 auto
      margin-top: 10px
      color: #ffffff
      font-size: 16px
      font-weight: 400
      text-transform: uppercase
      text-align: center

  .subheader
    .subheader_btn
      width: 200px
      height: 35px
      margin: 0 auto
      margin-top: 5px
      display: block
  .promo
    &_header
      line-height: 45px

  header
    .navigation
      width: 100%

  .mobile
    &_item
      width: 320px
  .social
    &_wrapper
      margin-bottom: 0
      margin-top: 75px

@media (max-width : 575px)

  .subheader
    &_oficial
      display: none
    &_logo
      margin-top: 22px
  .subheader
    &_phone
      font-size: 12px
      font-weight: 400
      text-transform: uppercase
      margin-top: 10px
  .subheader
    height: 70px
    .subheader_btn
      margin-top: 4px
      width: 110px
      height: 20px
      font-size: 10px
  .promo
    min-height: 400px
    padding: 93px 0 35px 0
    &_descr
      display: none
    &_header
      font-size: 30px
      line-height: 35px
    &_subheader
      margin-top: 33px
      font-size: 20px
      line-height: 30px
  .promo
    .promo_btn
      margin-top: 4px
      width: 210px
      height: 50px
      margin-top: 72px
      margin-bottom: 10px
  header
    .navigation
      width: 100%
  .menu
    width: 50%
    &_link
      font-size: 11px
  .benefits
    &_container
      margin-top: 26px
    &_rows
      margin-bottom: 0
    .benefits_slogan
      margin-top: 15px
      font-size: 16px
      line-height: 16px
  .mobile
    padding-top: 28px
    padding-bottom: 43px
    &_item
      width: 290px
      height: 254px
    .title
      font-weight: 700
      font-size: 16px
    .subtitle
      font-weight: 400
      font-size: 14px
  .choice
    padding: 25px 0 33px 0
    min-height: 390px
    .uber_car
      width: 300px
      height: 190px
    &_slogan
      display: none
  .choice
    .upper_section
      .car
        .uber_car
          margin-top: 100px
  .choice
    .bottom_section
      display: none
      &_text
        display: none
  .choice_text_phone
    display: block

  .require
    padding-bottom: 30px
    &_title
      font-weight: 700
      font-size: 16px
    &_subtitle
      font-weight: 400
      font-size: 16px
      line-height: 24px
      padding-top: 0
    &_list
      li
        font-size: 14px
        line-height: 16px

  .world
    background: url(../img/background/world_bg.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    width: 321px
    height: 360px
    &_link
      padding-top: 130px
    .container
      background-image: none
      min-height: 0
      .title
        font-weight: 700
        font-size: 16px
        line-height: 16px
      .subtitle
        font-weight: 400
        font-size: 14px
        line-height: 21px

  .footer
    &_line
      margin-top: 13px
      width: 255px
      height: 6px
    &_menu
      &_up
        a
          padding-right: 10px
          font-weight: 300
          font-size: 14px
          line-height: 14px
        a:not(:last-child)
          padding-right: 10px
          font-weight: 300
          font-size: 14px
          line-height: 14px
      &_btm
        padding: 0 5px 0 5px
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        font-weight: 300
        font-size: 11px
        line-height: 11px
        a:not(:last-child)
          margin-top: 10px
          padding-right: 10px
        a
          margin-top: 10px
          padding-right: 0
  .social
    margin-left: 45px
    &_wrapper
      margin-top: 105px
