*
  font-family: "Roboto", sans-serif

header
  position: relative

  .navigation
    background-color: #212121f3
    position: fixed
    width: 100%
    height: 50px
    z-index: 2

a
  text-decoration: none

.menu
  a
    position: relative
    font-weight: 300
    font-size: 15px
    color: #ffffff
    &:after
      content: ""
      display: block
      position: absolute
      left: 0
      width: 0
      height: 2px
      background-color: #4ce2ff
      transition: width 0.3s ease-out

a:hover:after,
a:focus:after
  width: 100%

.menu
  display: flex
  justify-content: space-between
  padding: 13px 70px
  margin: 0
  list-style-type: none

.subheader
  margin-top: 50px
  width: 100%
  position: absolute
  height: 90px
  background: rgba(0, 0, 0, 0.6)
  mix-blend-mode: normal

  .subheader_logo
    display: block
    margin-top: 16px
    max-width: 100%

  .subheader_oficial
    font-weight: 100
    margin-top: 6px
    font-size: 13px
    color: #ffffff
    opacity: 0.6

  .subheader_call
    margin-right: 18px
    margin-top: 24px
    font-weight: 300
    font-size: 12px
    text-align: right
    color: #ffffff

  .subheader_phone
    line-height: 25px
    margin-right: 18px
    margin-top: 3px
    text-align: right
    display: block
    font-weight: 400
    font-size: 22px
    color: #ffffff
    &:hover
      transition: all 500ms ease
      -webkit-transform: scale(1.2)
      -ms-transform: scale(1.2)
      transform: scale(1.2)

  .subheader_btn
    margin-top: 22px
    font-weight: 400
    font-size: 14px
    text-transform: uppercase
    color: #ffffff
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21)
    width: 172px
    height: 46px
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%)
    border: none
    border-radius: 4px
    transition: all 500ms ease

  button:hover
    background: rgba(0, 0, 0, 0)
    color: #c6f6ffdc
    box-shadow: inset 0 0 0 3px #3a7999

.promo
  padding: 150px 0 135px 0
  min-height: 800px
  background: url(../img/background/uber_bg.png)
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  .promo_header
    margin-top: 67px
    font-weight: 900
    font-size: 60px
    text-align: center
    color: #ffffff

  .promo_subheader
    font-weight: 700
    font-size: 36px
    text-align: center
    color: #ffffff

  p
    margin-top: 30px
    font-weight: 400
    font-size: 18px
    line-height: 24px
    text-align: center
    color: #ffffff

  .promo_btn
    margin: 115px auto
    display: block
    font-weight: 400
    font-size: 18px
    color: #ffffff
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21)
    width: 259px
    height: 63px
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%)
    border: none
    border-radius: 4px
    transition: all 500ms ease

  button:hover
    background: rgba(255, 255, 255, 0)
    color: #c6f6ffdc
    box-shadow: inset 0 0 0 3px #306c8f

.label
  text-align: center
  margin: 0 auto
  margin-bottom: 33px
  background-color: #000000
  width: 115px
  height: 27px
  p
    padding: 5px 12px
    font-weight: 400
    font-size: 11px
    text-transform: uppercase
    color: #FFFFFF

.benefits
  margin-top: 20px
  margin-bottom: 65px
  p
    padding-top: 5px
    font-weight: 400
    font-size: 11px
    text-align: center
    text-transform: uppercase
    color: #ffffff

  .benefits_slogan
    margin: 0 auto
    font-weight: 700
    font-size: 38px
    text-align: center
    text-transform: uppercase
    color: #222222

  .benefits_container
    margin-top: 35px
    display: flex
    min-width: 150px

.benefits_container
  .img_wrapper
    margin-right: 25px
    min-width: 113px
    width: 113px
    height: 113px
    border-radius: 100%
    background-color: #1eacc7
    display: flex
    align-items: center
    justify-content: center
    border-radius: 100%

  .benefits_title
    text-align: left
    font-weight: 400
    font-size: 17px
    color: #1eacc7

  .benefits_text
    text-align: left
    font-weight: 300
    font-size: 15px
    line-height: 21px
    color: #202020

.title
  text-align: center
  font-weight: 700
  font-size: 38px
  text-transform: uppercase
  color: #222222

.subtitle
  text-align: center
  font-weight: 400
  font-size: 17px
  color: #222222

.mobile
  padding-top: 79px
  padding-bottom: 79px
  min-height: 864px
  background: url(../img/background/mobile_bg.png)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  .row
    margin-top: 32px
  &_item
    position: relative
    width: 320px
    height: 280px
    margin: 0 auto
    margin-bottom: 19px
    padding-top: 91px
    &_subtitle
      text-align: center
      font-weight: 400
      font-size: 24px
      text-align: center
      text-transform: uppercase
      color: #FFFFFF
    &_plus
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      left: 45%
      bottom: 35px
      margin: 0 auto
      margin-top: 100px
      border-radius: 100%
      width: 26px
      height: 26px
      background: #000000
      padding: 6px
      &::before
        content: ''
        transition: all 500ms ease
        display: block
        width: 14px
        height: 2px
        background-color: #1EACC7
      &::after
        content: ''
        transition: all 500ms ease
        left: 50%
        transform: translateX(-50%)
        position: absolute
        display: block
        width: 2px
        height: 14px
        background-color: #1EACC7
      &:hover
        &:before, &:after
          background-color: #00ffb3ce

    &_1
      background: url(../img/card/card_5.png)
    &_2
      background: url(../img/card/card_4.png)
    &_3
      background: url(../img/card/card_6.png)
    &_4
      background: url(../img/card/card_1.png)
    &_5
      background: url(../img/card/card_3.png)
    &_6
      background: url(../img/card/card_2.png)

.choice
  .car
    display: flex
    justify-content: center
    align-items: center
  &_slogan
    text-align: center
    margin-top: 57px
    font-weight: 700
    font-size: 38px
    text-transform: uppercase
    color: #FFFFFF
  .label
    background-color: #FFFFFF
  p
    padding-top: 5px
    font-weight: 400
    font-size: 11px
    text-align: center
    text-transform: uppercase
    color: #070716
  .upper_section
    padding-top: 57px
    background-color: #070716
    width: 100%
    min-height: 499px
    .uber_car
      margin-top: 277px
      position: absolute

.bottom_section
  background: url(../img/background/mobile_bg.png)
  width: 100%
  min-height: 397px
  p
    padding-top: 210px
    white-space: pre-wrap
    font-weight: 300
    font-size: 17px
    text-align: center
    color: #222222

.require
  padding: 67px 0 87px 0
  .col-md-6
    margin: 0 auto
    max-width: 540px
  &_block
    margin: 33px 0
    &_nmb
      margin-bottom: 0px
  &_title
    margin: 0 auto
    font-weight: 700
    font-size: 38px
    text-align: center
    text-transform: uppercase
    color: #222222
  &_subtitle
    font-weight: 400
    font-size: 22px
    align-items: center
    color: #1CA8C3
  &_descr
    font-weight: 300
    font-size: 17px
    color: #1CA8C3
  .warning
    .require_subtitle
      color: #FF5656
    li
      &::before
        background: url(../icons/check_red.svg)
        background-position: center
        background-repeat: no-repeat
        background-size: cover
  &_list
    margin-top: 22px
    list-style-type: none
    padding-left: 50px
    margin-bottom: 20px
    li
      position: relative
      font-weight: 300
      font-size: 17px
      line-height: 24px
      margin-bottom: 10px
      &::before
        content: ''
        display:
        position: absolute
        left: -32px
        top: 3px
        width: 21px
        height: 20px
        background: url(../icons/check_blue.svg)
        background-position: center
        background-repeat: no-repeat
        background-size: cover

.world
  background-color: #080816
  &_link
    padding-top: 645px
    a
      transition: all 500ms ease
      font-weight: 400
      font-size: 15px
      line-height: 68px
      text-transform: uppercase
      color: #1FBAD6
      margin-bottom: 40px
      &:hover
        color: #fffffff3
  .container
    text-align: center
    padding-top: 48px
    background: url(../img/background/world_bg.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    max-width: 1900px
    min-height: 950px
    .label
      width: 79px
      font-weight: 400
      font-size: 11px
      text-transform: uppercase
      background-color: #FFFFFF
      p
        color: #070716
    .title
      font-weight: 700
      font-size: 38px
      line-height: 48px
      text-align: center
      text-transform: uppercase
      color: #FFFFFF
    .subtitle
      font-weight: 400
      font-size: 17px
      color: #FFFFFF

.footer
  padding: 12px 0 12px 0
  min-height: 157px
  &_lengauge
    a
      transition: all 500ms ease
      font-weight: 400
      font-size: 11px
      text-transform: uppercase
      color: #1FBAD6
      &:after
        content: ""
        display: block
        position: absolute
        left: 45%
        width: 0
        height: 2px
        background-color: #4ce2ff
        transition: width 0.3s ease-out
      &:hover:after,
      &:focus:after
        width: 10%
  &_line
    margin: 0 auto
    width: 301px
    min-height: 7px
    background-color: #1FBAD6
    opacity: 1
  &_menu
    margin: 0 auto
    padding: 31.5px 0 16px 0
    text-align: center
    &_up
      a
        transition: all 500ms ease
        font-weight: 300
        font-size: 15px
        text-transform: uppercase
        color: #070716
        &:hover
          color: #1FBAD6
    &_up
      a:not(:last-child)
        padding-right: 45px
    &_btm
      a
        transition: all 500ms ease
        font-weight: 300
        font-size: 11px
        text-transform: uppercase
        color: #999999
        &:hover
          color: #1FBAD6
      a:not(:last-child)
        padding-right: 22px

.social
  margin-top: -75px
  margin-left: -80px
  &_wrapper
    display: flex
    flex-direction: row
  &_inner
    display: flex
    align-items: center
    justify-content: center
    margin-right: 8px
    list-style-type: none
    min-width: 35px
    min-height: 35px
    background-color: #070716
    border-radius: 100%
    img
      max-width: 19px
      min-height: 19px
