* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: auto;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul ui {
  list-style: top;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: rgba(18, 20, 29, 1);
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  background: #4080bf;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
  padding: 13px 30px;
}

.wrapper_header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-height: 120px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.logo_header {
  padding-right: 130px;
  font-weight: 800;
  font-size: 30px;
  color: #ffffff;
}

.link_header {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.wrapper_header .button {
  margin-left: 205px;
}

.promo_wrapper {
  margin-top: 60px;
  margin-bottom: 150px;
  display: flex;
  background-image: url(../img/digital_agency.png);
  min-width: 1200px;
  min-height: 690px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.promo_title h2 {
  white-space: pre-line;
  font-weight: 800;
  font-size: 50px;
  line-height: 92px;
  color: #ffffff;
}

.promo_inner {
  margin: 220px 0 0 450px;
}

.promo_text {
  padding-right: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: #ffffff;
}

.promo_inner button {
  margin-top: 30px;
}

.promo h2 {
  line-height: 90px;
  padding-bottom: 40px;
  white-space: pre-line;
  font-weight: 800;
  font-size: 61px;
  color: #ffffff;
}

.wrapper_information {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.help_problem {
  margin-top: 150px;
}
.help_problem h2 {
  margin-bottom: 50px;
  white-space: pre-line;
  font-weight: 800;
  font-size: 50px;
  line-height: 83px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.container .img {
  margin-right: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e2028;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.information h2 {
  margin-bottom: 42px;
  white-space: pre-line;
  font-weight: 800;
  font-size: 50px;
  line-height: 70px;
  color: #ffffff;
}

.information h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
  text-transform: capitalize;
}

.information p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-transform: capitalize;
}

.text_inner {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 440px;
  max-height: 107px;
}

.section_img {
  margin-top: 150px;
}

.image_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.image_content img {
  padding-bottom: 32px;
  border-radius: 20px;
  min-width: 540px;
  min-height: 360px;
}
.link_img a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #a1c5e9;
  display: flex;
  padding-right: 30px;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.container .title_img {
  white-space: pre-line;
  font-weight: 800;
  font-size: 50px;
  line-height: 70px;
  color: #ffffff;
  padding-bottom: 0;
}

.link_arrow {
  padding-top: 0;
  padding-bottom: 50px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.link_arrow a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #a1c5e9;
  padding-right: 20px;
}

.help_list h4 {
  padding-left: 28px;
  padding-top: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #ffffff;
}

.help_list p {
  padding-left: 28px;
  padding-right: 22px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.help_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.help_list .icon_help {
  padding-top: 20px;
  padding-left: 28px;
}

.help_list li {
  margin-bottom: 30px;
  background-color: rgba(30, 32, 40, 1);
  max-width: 350px;
  min-height: 350px;
  border-radius: 10px;
}

.link_arrow_help {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.link_arrow_help a {
  padding-left: 28px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #a1c5e9;
}

.founder {
  margin-top: 150px;
}

.founder h2 {
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
}

.founder h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.founder p {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}

.founder_wrapper {
  display: flex;
  justify-content: space-between;
}

.founder_doe_key img {
  margin-bottom: 30px;
}

.founder_doe_key {
  margin-left: 14px;
  margin-right: 30px;
  max-width: 284px;
  min-height: 741px;
}

.founder_jhon_kekey img {
  padding-top: 25px;
}

.founder_jhon_kekey {
  margin-top: 45px;
  margin-right: 14px;
  max-width: 284px;
  min-height: 741px;
}

.founder_text .jhon_doe {
  margin-top: 205px;
}

.founder_text .jhon_key {
  margin-top: 215px;
}

.founder_text {
  white-space: pre-line;
  text-align: right;
}

.founder_text_right .doe_jhon {
  margin-bottom: 10px;
  margin-top: 325px;
}

.founder_text_right .kekey {
  margin-bottom: 10px;
  margin-top: 195px;
}

.customer_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customer_wrapper h3 {
  padding-top: 215px;
  white-space: pre-line;
  font-weight: 800;
  font-size: 50px;
  line-height: 83px;
  color: #ffffff;
}

.customer_wrapper li {
  padding-right: 55px;
  margin-top: 150px;
  max-width: 570px;
  min-height: 500px;
}

.customer_wrapper .background {
  padding-left: 26px;
  padding-right: 44px;
  border-radius: 10px;
  background-color: #1e2028;
}

.customer_wrapper p {
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #ffffff;
}

.background .mr_jackson {
  padding-bottom: 20px;
  display: flex;
  max-width: 200px;
  margin-top: 21px;
}

.background .quotes {
  padding-top: 37px;
  padding-left: 425px;
}

.mr_jackson h4 {
  padding-left: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.mr_jackson span {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.background_business {
  margin-top: 150px;
  background-color: #1e2028;
  max-width: auto;
  min-height: 465px;
}

.business h3 {
  padding-top: 50px;
  white-space: pre-line;
  font-weight: 800;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
}

.business .button {
  margin-left: 535px;
  margin-top: 50px;
  margin-bottom: 64px;
}

.result_wrapper {
  display: flex;
  justify-content: center;
}

.result_wrapper h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

.result_wrapper li {
  padding-left: 40px;
  padding-right: 40px;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #ffffff;
}

.result_wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.result_wrapper .happy_customer {
  margin-right: 30px;
}
.result_wrapper .awards_won {
  margin-left: 30px;
}

.footer_wrapper a {
  display: block;
}

hr {
  margin-top: 50px;
  height: 2px;
  color: #1e2028;
  background-color: #1e2028;
  border: none;
}

.footer_wrapper {
  min-height: 287px;
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
}

.footer_wrapper p {
  margin-top: 10px;
  white-space: pre-line;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}

.footer_wrapper h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.footer_wrapper h4 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.footer_wrapper a {
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.footer_wrapper img {
  padding-right: 10px;
}

.footer_wrapper .social_icons {
  margin-top: 20px;
}

.footer_text {
  max-width: 247px;
}

input {
  color: rgb(255, 255, 255);
  position: relative;
  padding: 10px;
  min-height: 40px;
  min-width: 255px;
  border: 2px;
  border-radius: 8px;
  background-color: rgb(100, 100, 100);
}

input::-moz-placeholder {
  color: #d9dbe1;
}
input::-webkit-input-placeholder {
  color: #d9dbe1;
}

.footer_wrapper .send {
  position: absolute;
  margin-left: -34px;
  margin-top: 11px;
}
