* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
.promo {
  min-height: 800px;
  background: url("../img/bg/main_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 39px 0 62px 0;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: #ffffff;
  font-style: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 14px;
}

h1 {
  margin-top: 53px;
}

.title {
  color: #f9bf3b;
  font-size: 41px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

h2.title {
  margin-top: 30px;
}

.simple .title_big {
  color: #ffffff;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-top: 21px;
}

.promo .promo_text {
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  padding: 0 13px;
  margin-top: 23px;
}

.promo .promo_text span {
  color: #f9bf3b;
  font-weight: 700;
}

.promo .promo_btn {
  color: #ffffff;
  display: block;
  margin: 73px auto;
  padding: 25px 18px;
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.22);
  font-size: 21px;
  line-height: 24px;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  outline: none;
}

.more {
  margin-top: 50px;
}

.more .more_text {
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
