* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.container {
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
.promo {
  min-height: 800px;
  background: url("../img/bg/main_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 39px 0 62px 0;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: #ffffff;
  font-style: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 14px;
}

h1 {
  margin-top: 53px;
}

.title {
  color: #f9bf3b;
  font-size: 41px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

h2.title {
  margin-top: 30px;
}

.simple .title_big {
  color: #ffffff;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-top: 21px;
}

.promo .promo_text {
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  padding: 0 13px;
  margin-top: 23px;
}

.promo .promo_text span {
  color: #f9bf3b;
  font-weight: 700;
}

.promo .promo_btn {
  color: #ffffff;
  display: block;
  margin: 73px auto;
  padding: 25px 18px;
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.22);
  font-size: 21px;
  line-height: 24px;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  outline: none;
}

.more {
  margin-top: 50px;
}

.more .more_text {
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

.waiting {
  padding-top: 88px;
  padding-bottom: 75px;
  background: #efefef;
}

.waiting_header {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #252525;
  opacity: 0.88;
  text-align: center;
}

.waiting_divider {
  width: 220px;
  height: 7px;
  background: #f9bf3b;
  margin: 18px auto;
}

.waiting_subheader {
  font-size: 23px;
  line-height: 20px;
  text-align: center;
  color: #4a4a4a;
}

.waiting_wrapper {
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
}

.waiting_item {
  width: 100%;
  max-width: 342px;
}

.waiting_text {
  margin-top: 17px;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #4a4a4a;
}

.waiting_img {
  width: 100%;
  display: flex;
}

.optimization {
  min-height: 550px;
  padding-top: 100px;
  padding-bottom: 0 auto;
}

.optimization_header {
  margin-left: 450px;
  font-weight: 900;
  font-size: 31px;
  line-height: 30px;
  text-transform: uppercase;
  color: #299cbd;
}
.optimization_text {
  margin-top: 25px;
  margin-left: 450px;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  align-items: center;
  color: #4a4a4a;
}

.optimization_text span {
  font-weight: bold;
}
.optimization_img {
  position: absolute;
  top: -56px;
  left: -200px;
  z-index: -1;
}
.finish_header {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.finish_divider {
  width: 220px;
  height: 7px;
  margin-top: 128px;
  margin: 18px auto;
  background: #f9bf3b;
}

.finish {
  min-height: 447px;
  padding: 86px 0 68px 0;
  background: url(../img/bg/second_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.finish_wrapper {
  margin: 41px 430px 0 430px;
  display: flex;
  justify-content: space-between;
}
.finish_item {
  width: 234px;
}
.finish_round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 118px;
  background: #b4e2ff;
  border-radius: 100%;
  margin: 0 auto;
}
.finish_descr {
  margin-top: 25px;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #efefef;
}
