body
  background-color: #F1F1F1

.container
  max-width: 1300px
  padding: 0 10px
  margin: 0 auto

.header
  padding-top: 25px
  padding-bottom: 25px
  &_discount
    display: flex
    justify-content: center
    background-color: #0000004e
    width: 100%
    height: 40px
  &_discount_desc
    margin: 5px
    padding: 5px
    font-size: 14px
    line-height: 18px
    color: #000000
  &_link
    padding-top: 5px
    font-size: 14px
    line-height: 18px
    color: #000000
    &:hover
      transition: .3s
      color: #0000004e
  &_logo
    &:hover
      transition: .5s
      transform: scale3d(1.2,1.2,3)
  &_container
    display: flex
    justify-content: space-between

.modern
  &_inner
    display: flex
    justify-content: center
  &_wrap_1
    background-image: url(../img/modernRing/model_1.jpg)
    min-width: 485px
    min-height: 630px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &_desc_1
    font-size: 14px
    line-height: 18px
    color: #FFFFFF
    padding-top: 580px
    padding-left: 30px
  &_wrap_2
    background-image: url(../img/modernRing/model_2.jpg)
    min-width: 485px
    min-height: 630px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &_wrap_3
    display: flex
    background-image: url(../img/modernRing/model_3.jpg)
    min-width: 485px
    min-height: 630px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &_desc_2
    padding-top: 580px
    padding-left: 30px
    font-size: 14px
    line-height: 18px
    color: #FFFFFF
  &_desc_3
    height: 10px
    margin-top: 500px
    margin-left: 145px
    font-size: 18px
    line-height: 22px
    color: #000000

.shop
  margin: 100px auto
  display: flex
  justify-content: space-between
  &_wrap
    max-width: 890px
  &_descr
    font-size: 64px
    line-height: 64px
  &_logo
    margin-top: 50px
    font-size: 20px
    line-height: 25px
  &_link
    font-size: 18px
    line-height: 22px
    color: #000000
    &:hover
      color: #000000

.arrivals_title
  margin-bottom: 35px
  font-size: 24px
  line-height: 30px
  color: #000000

.slider
  position: relative
  &_img
    min-height: 450px
  &_title_gold
    margin-bottom: 0
    max-width: 310px
    font-size: 18px
    line-height: 22px
    color: #000000
  &_title_silver
    font-size: 16px
    line-height: 22px
    color: #000000
  &_desc_wrap
    display: flex
    justify-content: space-between
  &_desc_price
    font-size: 14px
    line-height: 18px
    color: #000000
  &_desc_link
    font-size: 14px
    line-height: 18px
    color: #000000
    &:hover
      transition: .3s
      color: #0000008d
    &:active

.container_slider
  max-width: 1240px
  padding: 0 10px
  margin: 0 auto
  margin-bottom: 180px

.slick
  &-track
    display: flex
  &-list
    overflow: hidden
  &-arrow
    border: none
    font-size: 0
    position: absolute
    top: -55px
    z-index: 10
  &-prev
    width: 25px
    height: 25px
    background: url(../icons/slider/arrow.svg) 0 0 /100% no-repeat
    right: 50px
    &:hover
      transition: .3s
      opacity: .5
  &-next
    width: 25px
    height: 25px
    background: url(../icons/slider/arrow_right.svg) 0 0 /100% no-repeat
    right: 0
    &:hover
      transition: .3s
      opacity: .5

.t-shirt
  display: flex
  justify-content: center
  &_1
    background-image: url(../img/t-shirt/t-shirt_1.jpg)
    min-width: 720px
    min-height: 936px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &_2
    background-image: url(../img/t-shirt/t-shirt_2.jpg)
    min-width: 720px
    min-height: 936px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &_title
    padding-top: 45px
    padding-left: 50px
    font-size: 44px
    line-height: 60px
    color: #000000
  &_desc
    padding-top: 750px
    padding-left: 50px
    font-size: 14px
    line-height: 18px
    color: #000000

.categories
  &_img
    position: relative
  &_title
    margin-top: 45px
    padding-bottom: 15px
  &_desc
    z-index: 5
    position: absolute
    bottom: 5px
    font-size: 33px
    line-height: 42px
    padding-left: 20px
    color: #FFFFFF
    &:hover
      transition: .3s
      color: #ffffffaf

.slick-arrow-categories
  top: -40px

.book
  margin-top: 105px
  display: flex
  justify-content: center
  &_img_1
    background-image: url(../img/book/book_1.jpg)
    min-width: 720px
    min-height: 935px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &_img_2
    background-image: url(../img/book/book_2.jpg)
    min-width: 720px
    min-height: 935px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &_desc
    padding-left: 20px
    padding-top: 58px

.material
  margin-top: 125px
  margin-bottom: 50px
  &_num-one
    font-size: 30px
    line-height: 45px
    color: #000000
  &_num-two
    font-size: 36px
    line-height: 45px
    color: #000000
  &_num-three
    font-size: 36px
    line-height: 45px
    color: #000000
  &_num-wrap
    display: flex
    justify-content: space-between
  &_num
    margin-right: 360px
    margin-bottom: 72px
    margin-top: 70px
  &_img-wrap
    display: flex
    justify-content: space-around
  &_slogan
    font-weight: 400
    font-size: 43px
    line-height: 60px
    max-width: 630px
    margin-bottom: 85px

.material_desc
  margin-right: 100px
  max-width: 300px
  margin-bottom: 55px
  &-wrap
    display: flex
    justify-content: space-between

.material_link
  font-size: 18px
  line-height: 22px
  color: #000000
  &:hover
    transition: .3s
    color: #0000007a
.choose
  margin-top: 50px
  margin-bottom: 90px
  &-wrap
    display: flex
    justify-content: center
  &_img_1
    background-image: url(../img/choose/ring_choose.jpg)
    min-width: 720px
    min-height: 935px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &_img_2
    background-image: url(../img/choose/ring.jpg)
    min-width: 720px
    min-height: 935px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &_hashtag
    padding-top: 65px
    padding-left: 50px
    font-size: 18px
    line-height: 22px
    color: #000000
  &_title
    font-size: 48px
    line-height: 60px
    color: #000000
    padding-top: 50px
    padding-left: 50px
    max-width: 580px
  &_price
    font-size: 14px
    line-height: 18px
    color: #000000
    margin-top: 685px
    margin-left: 50px
    &:hover
      transition: .3s
      color: #0000007a

.subscribe
  margin-bottom: 105px
  background-image: url(../img/subscribe.jpg)
  min-width: 1440px
  min-height: 545px
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  &_desc
    font-size: 18px
    line-height: 27px
    color: #FFFFFF
  &_desc-wrap
    display: flex
    justify-content: space-between
    padding-top: 50px
    padding-bottom: 180px
  &_desc_title
    max-width: 330px
    font-weight: 400
    font-size: 46px
    line-height: 60px
    color: #FFFFFF
  &_desc_subtitle
    font-size: 18px
    line-height: 22px
    color: #FFFFFF
  &_form
    position: relative
  &_link
    margin-left: -30px
    width: 25px
    height: 25px
    &:hover
      transition: .4s
      opacity: 0.5

  &_input
    margin-top: 15px
    text-align: center
    font-size: 18px
    width: 425px
    padding-bottom: 5px
    border: none
    border-bottom: 1px solid #FFFF
    background-color: transparent
    outline: none
    transition: 0.3s
    color: #ffff
    &::placeholder
      color: #FFFF

.subscribe_input:hover
  &::placeholder
    transition: .3s
    color: #ffffff78

.subscribe_input:focus
  &::placeholder
    transition: .3s
    color: #ffffff00

.footer
  background-color: #F1F1F1
  &_box
    display: flex
    justify-content: space-between
  &_wrap
    display: flex
    align-items: stretch
    flex-direction: row
  &_inner
    display: flex
    flex-direction: column
    padding: 0
    &:not(:last-child)
      margin-right: 140px
  &_link
    font-size: 16px
    line-height: 20px
    color: #000000
  &_link_title
    font-size: 18px
    line-height: 25px
    color: #000000
    margin-bottom: 21px
  &_item
    margin-bottom: 10px
    max-width: 135px
  &_item_title
    margin-bottom: 21px
  &_link_title_none
    color: #00000000
  &_item_title-social
    margin-top: 88px
    margin-bottom: 20px
